<div>
    <div class="ng-scope layout-row">
        <div class="flex-33"></div>
        <div class="flex-33">
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="item in vm.todos | filter:{done:false}">
                    <md-checkbox ng-change="vm.markAsDone(item)" ng-model="item.done"></md-checkbox>
                    <div class="md-list-item-text">
                        <p>{{item.task}}</p>
                    </div>
                </md-list-item>
            </md-list>

            <md-divider></md-divider>

            <md-list>
                <md-list-item class="md-2-line" ng-repeat="item in vm.todos | filter:{done:true}">
                    <md-checkbox ng-change="vm.markAsDone(item)" ng-model="item.done"></md-checkbox>
                    <div class="md-list-item-text">
                        <p>{{item.task}}</p>
                    </div>
                    <md-button class="md-primary" ng-click="vm.destroy(item)">
                        <md-icon ng_bind="'delete'"></md-icon>
                    </md-button>
                </md-list-item>
            </md-list>

            <md-divider></md-divider>

            <form ng-submit="vm.submit()">

                <md-input-container>
                    <label>Todo</label>
                    <input type="text" ng-model="vm.task">
                </md-input-container>

                <md-button type="submit" class="md-primary md-raised">Create</md-button>

            </form>
        </div>
        <div class="flex-33"></div>
    </div>
</div>